.form-creer {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 30px);
    font-weight: bold;
    max-width: 800px;
}

.form-creer input[type=text], .form-creer input[type=email] {
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
}

.form-creer select {
    margin-top: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

.button-envoyer {
    margin-top: 10px;
}

.error-log {
    color: red;
    font-size: .8em;
}

input[type=submit] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}


input[type=submit]:active {
    border-color: #646cff;
}

input[type=submit]:focus, input[type=submit]:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    input[type=submit] {
      background-color: #f9f9f9;
    }
}

